@using Newtonsoft.Json

@model e_ptit_2.Models.CrosswordViewModel
@{
    ViewBag.Title = "Տառերով Սուտոքու  6 X 6";
}

<script type="text/javascript">

    var data = @Html.Raw(JsonConvert.SerializeObject(this.Model));

</script>

<div>

    <div id="sound">
    </div>

    <div id="fireworks-template">
        <div id="fw" class="firework"></div>
        <div id="fp" class="fireworkParticle">
            <img src="../../Content/fireworks/image/particles.gif" alt="" />
        </div>
    </div>

    <div id="fireContainer"></div>
</div>

<div class="row">
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <h2>@Model.Crossword.Title.ToUpperInvariant()</h2>
            <br />
            <h3>@Model.Crossword.Description</h3>
        </div>
    </div>
    <br />
    <div class="col-md-8 col-md-offset-2">
        <div>
            <img src="../../Content/images/games/other/logic/sudoku6example.png" />
        </div>
        <br />
        <div>
            <h3>Փորձէ՛ լուծել վարի 6X6  սուտոքուները հետեւելով վերը նշուած օրէնքին։</h3>
        </div>
        <div style="align-content: center; width: 100%" class="row">
            <div class="col-md-5"></div>
            <div class="label-warning col-md-5" style="background-color: yellow; text-align: center;">
                <h4>Տառերն են՝ ա,բ,գ,դ,ե,թ</h4>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="row rf-main-container">
                <div class="col-md-offset-2">
                    <div id="theGrid"></div>
                </div>
            </div>
            <input type="text" id="some-id-data" style="display: none;" />
            <div id="td"></div>
            <div>
                <img src="../../Content/images/games/other/logic/sudokubg.png" />
            </div>
        </div>
    </div>
</div>

<audio id="myAudio">
    <source src="../../Content/audio/correct.mp3" type="audio/mp3" />
    Your browser does not support audio!
</audio>
<audio id="audioApplause">
    <source src="../../Content/audio/win.mp3" type="audio/mp3" />
    Your browser does not support audio!
</audio>
<audio id="audioSanta">
    <source src="../../Content/audio/tadaa1.wav" type="audio/wav" />
    Your browser does not support audio!
</audio>

@section scripts {
    <script type="text/javascript" src="../../Content/js/jquery-ui.js"></script>
    <script type="text/javascript" src="../../Content/specialJS/jquery.sudokugame.js"></script>

    <script>

        if (typeof (soundManagerInit) != 'undefined') soundManagerInit();

        function DoFireworks() {
            var r = 4 + parseInt(Math.random() * 16);
            for (var i = r; i--;) {
                setTimeout('createFirework(50,200,4,null,null,null,null,null,Math.random()>0.5,true)', (i + 1) * (1 + parseInt(Math.random() * 1000)));
            }
            return false;
        }

        function playSound() {
            var vid = document.getElementById("myAudio");
            vid.play();
        }

        function playApplause() {
            var vid = document.getElementById("audioApplause");
            vid.play();
            var hohoho = document.getElementById("audioSanta");
            hohoho.play();
        }

        var www = JSON.parse(data.words);
        var firstText = "dataR" + www[0].row + "C" + www[0].col;
        EM.addEventListener(window, 'domload', function () {
            if(data.ShowKeyboard)
                VirtualKeyboard.toggle('some-id-data', 'td');
        });

        function validateLetter(inp) {
            if (inp.value.toLowerCase() == inp.attributes["data-letter-id"].value.toLowerCase()) {
                inp.attributes["style"] += "border; 1px solid green;"
                inp.attributes["readonly"] = "true";
                inp.readonly = true;
                inp.disable = true;
                var txt = document.getElementById(inp.id);
                txt.readonly = true;
                txt.attributes["readonly"] = "true";
                txt.readonly = true;
                txt.disabled = true;

                var txtJ = $('#' + inp.id);
                txtJ.attr("data-is-solved", "true");

                var words = txtJ.attr("data-word").split(" ");
                for (i = 0; i < words.length; i++) {
                    if(words[i] && words[i].length > 0)
                        checkIfWordCompleted(words[i]);
                }
                checkIfCompleted();
            }
            else
                inp.value = "";
        }

        function checkIfCompleted() {
            var toSolve = $("input[data-is-solved='false']");
            if (toSolve.length == 0) {
                {
                    DoFireworks();
                    playApplause();
                }
            }
        }

        function checkIfWordCompleted(word) {
            var toSolve = $("input[data-is-solved='false'][data-word~='" + word + "']");
            if (toSolve.length == 0) {
                playSound();
                $("li[data-word='" + word + "']").animate({ "opacity": 'hide' }, 1000, "linear",
                     function () {
                         $("li[data-word='" + word + "']").addClass('rf-foundword').animate({ "opacity": 'show' }, 1000, "linear")
                     });
            }
        }

        $(document).ready(function () {

            $("#theGrid").crosswordwidget({ "gridWidth": data.Cols, "gridHeight": data.Rows, "wordObjlist": JSON.parse(data.words), "otherCells": JSON.parse(data.otherCells) , "isSeparateHints": JSON.parse(data.isSeparateHints)});

            $(".txt-data").on("virtualKeyboardClick", function (event) {
                debugger;
                if (event.keyCode == 13) {
                }
                else {
                    validateLetter(event.target);
                }
            });

            $(".txt-data").on("keyup", function (event) {
                debugger;
                if (event.keyCode == 13) {
                }
                else {
                    validateLetter(event.target);
                }
            });

            $(".txt-data").on("keydown", function (event) {
                debugger;
                if (event.keyCode == 13) {
                    event.preventDefault();
                    $(this).blur();
                }
                else {
                    validateLetter(event.target);
                }
            });
        } );
    </script>
}
@section styles {
    <link href="@($"/Content/css/crossword/jquery.sudokugame.css")" rel="stylesheet" type="text/css" />
}
