@{
    ViewBag.Title = "ՓԹԻԹ-ի Մասին";
    ViewBag.BannerImage = "../Content/images/about-ptit.jpg";
}

<div class="col-8">
    <p>ՓԹԻԹ մանկապատանեկան պարբերաթերթը ծնունդ առած է Պէյրութի մէջ 2010 թուականին եւ տակաւին կը շարունակուի հրատարակուիլ։ </p>
    <p>
        Գալուստ Կիւլպէնկեան Հիմնարկութեան Հայկական Բաժանմունքին նախաձեռնութեամբ ու հովանաւորութեամբ, կարելի եղաւ ՓԹԻԹ-ը համացանցի աշխարհը փոխադրել,
        որպէսզի աշխարհասփիւռ հայ մանուկներն ու պատանիները կարելիութիւնը ունենան օգտուելու ՓԹԻԹ-ի բազմաբնոյթ բովանդակութենէն՝ դաստիարակչական խաղերէն, բարոյալից պատմութիւններէն ու առակներէն։
    </p>
    <p>
        ՓԹԻԹ-ի գլխաւոր բաղկացուցիչ տարրը զանազան բնոյթի խաղերն են՝ լեզուական, թուաբանական, ժամանցի եւն.։Մենք կը հաւատանք, որ խաղը դաստիարակչական մեծ ներուժ եւ կարողականութիւն ունի.
        այն, ինչ որ դժուար է սորվեցնել դասական ձեւերով, կարելի է, շատ աւելի հեշտօրէն, սորվեցնել խաղերու միջոցով։ Այսպիսով, լեզուական խաղերու նպատակն է պատանիներուն հայերէնի բառամթերքը
        հարստացնել, իսկ թուաբանական խաղերունը՝ տրամաբանութիւնը մշակել եւ միաժամանակ օգտակար ու հաճելի ժամանց պարգեւել։
    </p>
    <p>
        ՓԹԻԹ կը յատկանշուի նաեւ խնամքով ընտրուած պատմուածքներով եւ առակներով. Անոնք թէեւ կարճ են, սակայն անպայման ունին բարոյական պատգամ մը։ Այսինքն երբ կարդաք զանոնք,
        ոչ միայն պիտի օգտուիք անոնց հրամցուցած մաքուր արեւմտահայերէնէն, այլեւ՝ բարոյական պատգամներէն։ Իսկ յօդուածները, ապա անոնք զանազան բնոյթի են, ուր առաւելաբար կը շեշտուին ազգային ու
        առողջապահական նիւթեր։
    </p>
    <p>
        Իսկ ՓԹԻԹ անունը ի՞նչ կը նշանակէ։ Փթիթ մաքուր հայերէն բառ մըն է, որ կը նշանակէ ծաղկում։ Հետեւաբար ՓԹԻԹ-ը կ՛օգնէ, որ իր մանուկ թէ պատանի ընթերցողները հայօրէն ծաղկին,
        ունենան բարոյական վեհ սկզբունքներ, ինչպէս նաեւ՝մայրենի լեզուի հարուստ բառապաշար։
    </p>
    <p>Բարի եկած էք ՓԹԻԹ-ի կայքը։ Ձեզի կը մաղթենք բարի վայելում եւ բարի ժամանց։</p>
</div>
<div class="col-4">
    <img src="../Content/images/logo.png" />
</div>