@{
    ViewBag.Title = "";
    ViewBag.BannerImage = "";
}
<div class="row">
    <div class="col-md-offset-2" style="text-align: center;">
        <span style="font-size:48px; color: #8b3c8f;"> Անվճար ներբեռնեցէք (Download)</span> <br />
        <span style="font-size:50px; color: #1f4a74;">
            ՓԹԻԹ-ի էփ-ը <strong>ՓԹԻԹ-PTIT </strong>
        </span><br />
        <span style="font-size:30px; color: #1f4a74;">Play Store-էն կամ App Store-էն</span>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="col-3">
            <img src="~/Content/images/android.png" style="width:400px;" />
        </div>
        <div class="col-3">
            <img src="~/Content/images/androidb.png" style="width:400px;" />
        </div>
    </div><div class="col-6">
        <div class="col-3">
            <img src="~/Content/images/ios.png" style="width:400px;" />
        </div>
        <div class="col-3">
            <img src="~/Content/images/iosb.png" style="width:400px;" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <a href="https://goo.gl/gg4yCa" target="_blank">https://goo.gl/gg4yCa</a>
    </div><div class="col-6">
        <a href="https://goo.gl/k9x3vw" target="_blank">https://goo.gl/k9x3vw</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <img src="~/Content/images/appscreen.jpg" />
    </div>
</div>